.cart-section {
    display: grid;
    margin: 15px auto;

    h2 {
        margin-bottom: 30px;
    }
    a {
      text-decoration: none;
    }

    .cart-table {

    }

    .cart-table-row {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid #93D3D2;
        padding: 14px 0;

        .cart-table-row-left, .cart-table-row-right {
            display: flex;
            justify-content: space-between;
        }

        .cart-table-row-left {
            width: 33%;
        }

        .cart-table-row-right {
            width: 33%;
            padding-top: 10px;
        }

        .cart-table-img {
            max-height: 75px;
        }

        .cart-table-actions {
            text-align: right;
            font-size: 14px;
        }

        .cart-item-details {
            padding-top: 5px;
        }

        .cart-item-details .cart-table-item a {
          font-weight: bold;
          text-decoration : none ;
        }

        .cart-table-description {
            color: #93D3D2;
        }

        .cart-options {
            color: #fff;
            background: #93D3D2;
            border: none;
            font-size: 14px;
            font-weight: 300;
            padding: 5px;
            margin: 2px;

            &:hover {
                background-color: #89c6c5;
            }
        }
    }

    .cart-totals {
        margin: 30px 0;
        padding: 20px;
        display: flex;
        justify-content: space-between;


        .cart-totals-left {
            width: 50%;
        }

        .cart-totals-right {
            display: flex;
            justify-content: space-between;
            width: 25%;
            text-align: right;
            background: #e5e5e5;
            padding: 15px;
        }

        .cart-totals-total {
            font-weight: bold;
            font-size: 22px;
            line-height: 2;
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .button, .button-continue {
          background-color: #93D3D2;
          color: #fff;
          padding: 5px;
          text-decoration : none;
        }

        .button:hover, .button-continue {
            background-color: #89c6c5;
        }
    }

    .no-save {
      margin-bottom: 50px;

    }
}

@media screen and (max-width: 570px) {
  .cart-section .cart-table-row .cart-table-row-left {
    width: 50%;
  }

  .cart-section .cart-table-row .cart-table-row-right {
    width: 50%;
  }
}
