h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin: 0 auto 80px;
  width: 100%;
}

.container-checkout {
  display: flex;
}

  h2 {
    margin-bottom: 28px;
  }

  .checkout-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #93D3D2;
    padding: 14px 0;
  }


    .checkout-table-row:last-child {
      border-bottom: 1px solid #93D3D2;
    }

    .checkout-table-row-left, .checkout-table-row-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .checkout-table-row-left {
      width: 75%;
    }

    .checkout-table-row-left .checkout-table-img {
      width: 50%;
    }

    .checkout-table-description {
      color: #93D3D2;
    }

    .checkout-table-price {
      padding-top: 6px;
    }

    .checkout-table-quantity {
      border: 1px solid #93D3D2;
      padding: 4px 12px;
      margin-right: 5px;
    }

  .checkout-totals {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #93D3D2;
    padding: 18px 0;
    line-height: 2;
  }


    .checkout-totals-right {
      text-align: right;
    }

    .checkout-totals-total {
      font-weight: bold;
      font-size: 22px;
      line-height: 2.2;
    }

  .have-code {
    display: none;
    margin: 14px 0;
  }

  .have-code-container {
    border: 1px solid #93D3D2;
    padding: 16px;
    display: none;
  }


    .have-code-container form {
      display: flex;
      justify-content: space-between;
    }

    .have-code-container input[type="text"] {
      width: 70%;
      padding: 10px;
      font-size: 16px;
    }

    .have-code-container input[type="submit"] {
      background: white;
      border: 1px solid #93D3D2;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background:#93D3D2;
      }
    }



/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
  background-color: white;
  padding: 16px 16px;
  border: 1px solid #ccc;

}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}
