textarea { resize: none; }
body{
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
  }

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  color: #93D3D2;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #93D3D2;
}

.logo {
  margin-top: 2vh;
  margin-bottom: 7vh;
  width: 22%;
}

.row-concept {
  margin-bottom: 5vh;
}

.concept-img {
  width: 90%;
}

.btn-montessori {
  background-color: #93D3D2;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.row-newsletter {
  margin-bottom: 50px;
}

.confirm{
  margin-top: 30px;
}

.footer {
  background-color: #93D3D2;
  /*position: absolute;*/
  width: 100%;
  height: 60px;
}

.footer-txt {
  padding-top: 15px;
  color: #fff;
}

.cart-section {
  min-height: 100%;
  flex-grow:1;
}

#page {
  min-height:100vh; /* 1 */
  display:flex; /* 2 */
  flex-direction:column; /* 3 */
}

.nav-bar {
  text-align: center;
}
.nav-bar ul {
    list-style: none;
    display: inline-block;
}

.nav-bar ul li {
  display: table-cell;
  padding: 15px;
}

.nav-bar ul li a {
  padding: 15px;

}
.nav-bar ul li a:hover {
  background-color: #93D3D2;
  color: #fff;
  text-decoration: none;
}

/*SHOP, PRODUCT AND ALSO-LIKE*/
.fil, .also-like-product{
  display: flex;
  flex-direction: row;
}

.also-like-product{
  justify-content: space-around;
  figure {
    margin: 0 20px;
  }
}
.fil{
  width: 50%;
  a{
    color: #93D3D2;
  }
}
ul li{
  list-style: none;
}
ul li a{
  color: #000;
}

/*component*/
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.breadcrumbs-container{
  padding-right: 0;
}

/*shop page*/
.bar-search{
  margin-bottom: 10px;
  form input{
    padding: 0 10px;
  }
}
.category-product{
  margin-right: 20px;
  ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
}
.order{
  border-left: 1px solid #93D3D2;
}
.order-product .price{
  align-self: center;
}

.list-product, .order-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.list-product figure{
  margin: 0 10px;
}

.list-product figcaption a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.list-product figcaption a:hover {
  color: #89c6c5;
  text-decoration: none;
}

.container-shop {
  min-height: 57vh;
}

/*product page*/
.view-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    flex-flow: row wrap;
}
.selected {
    border: 1px solid #93D3D2;
}
.product-multiple-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    min-height: 60px;
    cursor: pointer;
}

.product-section-thumbnail:hover {
    border: 1px solid gray;
}

.product-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-product .selected {
    border: 1px solid gray;
}

form .button {
  background-color: #93D3D2;
  color: #fff;
  padding: 5px;
  border: none;
}

form .button:hover {
  background-color: #89c6c5;
}

.also-like {
  margin-bottom: 50px;
}

/*404*/
.container-404 {
  min-height: 58vh;
}

/*LOGIN & REGISTER*/
.container-login, .container-register {
  min-height: 58vh;
}


@media screen and (min-width: 769px) {
  .footer {
    /*bottom: 0;*/
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .concept-h2{
    margin-top: 0;
  }
}

@media screen and (max-width: 769px) {
  /*shop page*/
  .order{
    border-left: none;
  }
  .order-product{
    margin-top: 50px;
  }
}

@media screen and (max-width: 570px) {
  /*shop page*/
  .also-like-product{
    flex-direction: column;
  }
}

@media screen and (max-width: 478px) {
  /*shop page*/
  .container-shop{
    h2, h3{
      text-align: center;
    }
  }
  .list-product, .order-product{
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .list-product{
    align-items: center;
    figure{
      text-align: center;
    }
  }
  .order-product{
    margin-top: 20px;
  }
  /*product page*/
  .product-image{
    margin-top: 15px;
    text-align: center;
  }
  .also-like-product{
    figure{
      margin-bottom: 15px;
    }
  }
}
