html {
  height: 100%;
  box-sizing: border-box;
}

* {box-sizing: border-box;}

textarea { resize: none; }
body{
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
  height: 100%;
  display: table;
  padding: 0;
  width: 100%;
  }

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  color: #93D3D2;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #93D3D2;
}

.logo {
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 125px;
}

.row-concept {
  margin-bottom: 5vh;
}

.concept-img {
  width: 90%;
}

.btn-montessori {
  background-color: #93D3D2;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.row-newsletter {
  margin-bottom: 50px;
}

.confirm{
  margin-top: 30px;
}

.footer {
  background-color: #93D3D2;
  position: static;
  width: 100%;
  height: 60px;
  display: table-row;
}

.footer-txt {
  padding-top: 15px;
  color: #fff;
}
.footer-txt:last-child {
  padding-bottom: 15px;
}

.footer-txt a {
  color: #fff;
  text-decoration: none;
}

.cart-section {
  flex-grow:1;
}

.nav-bar {
  text-align: center;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar ul li {
  display: table-cell;
  padding: 15px;
}

.nav-bar ul li a {
  padding: 15px;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  background-color: #93D3D2;
  color: #fff;
  text-decoration: none;
}

/* MENU MOBILE HAMBURGER */
.menu--toggler {
    display: none;
}

.menu--toggler__label {
    display: none;
    position: absolute;
    top: 80px;
    right: 10px;
    bottom: 0;
    width: 44px;
    height: 200px;
    margin-right: 10px;
}

.menu--toggler__label:hover,
.menu--toggler__label:focus,
.menu--toggler__label:active {
    cursor: pointer
}

.menu--toggler__label__text {
    position: absolute;
    text-indent: -9999px;
}

.menu--toggler__label__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #93D3D2;
    transition: transform .5s, top .5s, bottom .5s, opacity .2s;
    opacity: 1;
}

.menu--toggler__label__burger span:nth-child(1){
    top: 5px;
}

.menu--toggler__label__burger span:nth-child(2) {
    top: 15px;
}

.menu--toggler__label__burger span:nth-child(3) {
    top: 25px;
}

.menu--toggler:checked + .menu--toggler__label .menu--toggler__label__burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 19px;
}

.menu--toggler:checked + .menu--toggler__label .menu--toggler__label__burger span:nth-child(2) {
    opacity: 0;
}

.menu--toggler:checked + .menu--toggler__label .menu--toggler__label__burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19px;
}

.menu--mobile {
    position: absolute;
    list-style-type: none;
    top: 135px;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    display: none;
    z-index: 1;
}

.menu--toggler:checked ~ .menu--mobile {
    display: block;
}

.menu--mobile li, .menu--mobile__submenu li {
    margin: 0;
    padding: 0;
}

.menu--mobile li {
  border-bottom: 2px solid #93D3D2;
}

.menu--mobile a, .menu--mobile__submenu a {
    display: block;
    line-height: 44px;
    padding: 0 .7em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.menu--mobile a {
    color: #575757;
}

.menu--mobile a:hover, .menu--mobile a:focus, .menu--mobile a:active {
  color: #93D3D2;
}

.menu--mobile a, .menu--mobile a:visited {
    background-color: #fff;
}

.menu--mobile__submenu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.menu--mobile__submenu a {
  background-color: #93D3D2;
  color: #fff;
}

.menu--mobile__submenu a:hover, .menu--mobile__submenu a:focus, .menu--mobile__submenu a:active {
  background-color: #787878;
  color: #fff;
}

.menu--mobile__submenu li {
  border-bottom: 3px solid #fff;
}

/*SHOP, PRODUCT AND ALSO-LIKE*/
.fil, .also-like-product{
  display: flex;
  flex-direction: row;
}

.also-like-product{
  justify-content: space-around;
  figure {
    margin: 0 20px;
  }
}
.fil{
  width: 50%;
  a{
    color: #93D3D2;
  }
}
ul li{
  list-style: none;
}
ul li a{
  color: #000;
}

/*component*/
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.breadcrumbs-container{
  padding-right: 0;
}

/*shop page*/
.bar-search{
  margin-bottom: 10px;
  form input{
    padding: 0 10px;
  }
}
.category-product{
  margin-right: 20px;
  ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
}
.order{
  border-left: 1px solid #93D3D2;
}
.order-product .price{
  align-self: center;
}

.list-product, .order-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.list-product figure{
  margin: 0 10px;
}

.list-product figcaption a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.list-product figcaption a:hover {
  color: #89c6c5;
  text-decoration: none;
}

.container-shop {
  min-height: 57vh;
}

/*product page*/
.view-product, .product-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.view-product {
    margin-bottom: 50px;
}
.product-image{
  width: 100%;
}
.selected {
    border: 1px solid #93D3D2;
}
.product-multiple-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    min-height: 60px;
    cursor: pointer;
}

.product-section-thumbnail:hover {
    border: 1px solid gray;
}

.product-detail{
  display: flex;
  flex-direction: column;
}

.view-product .selected {
    border: 1px solid gray;
}

form .button {
  background-color: #93D3D2;
  color: #fff;
  padding: 5px;
  border: none;
}

form .button:hover {
  background-color: #89c6c5;
}

.also-like {
  margin-bottom: 50px;
}

/*search-result*/
.search-product-result{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 40px;
}

/*404*/
.container-404 {
  min-height: 58vh;
}

/* CART */
.cart-totals-right {
  justify-content: space-evenly;
}

/* MODIFY PROFILE */
.modify-profile-form {
  margin: 5% 10%;
}

/* PROFIL */
.container-profil .profil {
  margin: 5% 5%;
}

.container-profil .profil p {
  margin-bottom: 20px;
}

/* MENTIONS LEGALES */
.container-mentions-legales {
  margin-bottom: 30px;
}


@media screen and (min-width: 769px) and (max-width: 991px) {
  .concept-h2{
    margin-top: 0;
  }
}

@media screen and (max-width: 769px) {
  /*shop page*/
  .order{
    border-left: none;
  }
  .order-product {
    margin-bottom: 20px;}
}

@media screen and (max-width: 630px) {
  .nav-bar {
    display: none;
  }

  .menu--toggler__label {
    display: block;
  }
}

@media screen and (max-width: 570px) {
  /*shop page*/
  .also-like-product{
    flex-direction: column;
  }
  .list-product{
    flex-wrap: wrap;
  }
  /*search-result*/
  .h1-result{
    font-size: 26px;
  }

  .footer {
    position: relative;
  }

  /*CART*/
  .cart-section .cart-totals .cart-totals-total {
    font-size: 15px;
  }

  .cart-section .cart-totals {
    justify-content: space-evenly;
  }

  .cart-section .cart-totals .cart-totals-right {
    width: 35%;
  }

  .cart-section a {
    text-decoration: none;
  }


}

@media screen and (max-width: 478px) {
  /*shop page*/
  .container-shop{
    h2, h3{
      text-align: center;
    }
  }
  .list-product, .order-product{
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .list-product{
    align-items: center;
    figure{
      text-align: center;
    }
  }
  .order-product{
    margin-top: 20px;
  }
  /*product page*/
  .product-image, .product-detail{
    margin-top: 15px;
  }
  .product-detail{
    text-align: center;
    align-items: center;
  }
  .also-like-product{
    figure{
      margin-bottom: 15px;
    }
  }
  /*search-result*/
  .h1-result{
    font-size: 20px;
  }
}
